@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.flex-container {
  display: flex;
}
.align-center {
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.align-left {
  display: flex;
  align-items: start;
}
.align-right {
  display: flex;
  align-items: end;
}

.Plus-Jakarta-Sans {
  font-family: "Plus Jakarta Sans";
}
.Plus-Jakarta-600 {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}
.Plus-Jakarta-500 {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
}

.border {
  border: 2px solid black;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.full-container {
  max-width: 1590px;
  margin: auto;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

.border-r {
  border-right: 1px solid rgb(240, 232, 232);
}

.headings {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: var(--text-color);
}

.heading-container {
  margin: 50px 30px;
}

.btn {
  button {
    padding: 10px 20px;
    width: 100%;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 16px;
  }
}

.box-shaddow{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.gap-5 {
  gap: 50px;
}
.gap-7 {
  gap: 70px;
}
.gap-8 {
  gap: 80px;
}
